In [1]:
# https://elitedatascience.com/python-seaborn-tutorial
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

df = pd.read_csv('Pokemon.csv', encoding='latin', index_col=0)
df.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,2,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,3,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,2,False

In [3]:
df.describe()

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage
count,151.00000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000
mean,407.07947,64.211921,72.549669,68.225166,67.139073,66.019868,68.933775,1.582781
std,99.74384,28.590117,26.596162,26.916704,28.534199,24.197926,26.746880,0.676832
min,195.00000,10.000000,5.000000,5.000000,15.000000,20.000000,15.000000,1.000000
25%,320.00000,45.000000,51.000000,50.000000,45.000000,49.000000,46.500000,1.000000
50%,405.00000,60.000000,70.000000,65.000000,65.000000,65.000000,70.000000,1.000000
75%,490.00000,80.000000,90.000000,84.000000,87.500000,80.000000,90.000000,2.000000
max,680.00000,250.000000,134.000000,180.000000,154.000000,125.000000,140.000000,3.000000

In [4]:
df['Total'].value_counts()

490    7
405    7
500    7
325    6
525    5
455    5
300    5
320    5
495    4
395    4
505    4
305    4
450    4
385    3
580    3
310    3
390    2
435    2
365    2
288    2
540    2
600    2
515    2
195    2
340    2
440    2
460    2
205    2
475    2
483    2
      ..
273    1
270    1
265    1
262    1
318    1
510    1
323    1
555    1
251    1
245    1
480    1
479    1
465    1
200    1
442    1
438    1
328    1
425    1
680    1
420    1
413    1
410    1
400    1
253    1
350    1
349    1
345    1
335    1
330    1
352    1
Name: Total, Length: 74, dtype: int64