In [ ]:
# TODO :
    # Create SQL table
    # Import data into with a loop
    # Check data
    # Use in datastet to have historical prices to calculate indicators, etc.

In [17]:
import pandas.io.sql as psql
import pandas as pd
from datetime import datetime, timedelta, date
from sqlalchemy import create_engine
import pytz
import requests
import json

def retrieve_cryptocompare_data(crypto_name, id_cryptocompare):
    # retrieve json data
    url = 'https://min-api.cryptocompare.com/data/histoday?fsym={}&tsym=USD&limit=2000&aggregate=1&e=CCCAGG'.format(crypto_name)
    json_data = requests.get(url).json()['Data']
    
    # transform to json
    df = pd.DataFrame(json_data)
    
    # add id_cryptocompare
    df['id_cryptocompare'] = id_cryptocompare
    
    # format date
    df['time'] = pd.to_datetime(df['time'],unit='s').dt.tz_localize('UTC')
    
    # rename columns
    df.columns = ['close_price', 'high_price', 'low_price', 'open_price', 'timestamp', 'volume_crypto', 'volume_usd', 'id_cryptocompare']
    return df

In [5]:
# TODO : Replace with info from config file
connection = create_engine('postgresql://dbuser:algocryptos@localhost:9091/algocryptos')

# get data with query
squery = 'select id_cryptocompare, crypto_name from coins\n'

df = psql.read_sql_query(squery, connection)

# set index on column timestamp
#df.set_index('timestamp', 'IdCryptoCompare', inplace=True)

df

     id_cryptocompare crypto_name
0                7605         ETH
1                3808         LTC
2                3807        DASH
3                5038         XMR
4                1183         NXT
5                4432        DOGE
6               24854         ZEC
7                5039         BTS
8                4430         DGB
9                5031         XRP
10               4400        BTCD
11               4403         BTM
12               4433         XVG
13               4551         LKY
14               4573         NEC
15               4592         RDD
16               4614         XLM
17               4618         SYS
18               5280         BCN
19               5285         XEM
20               5293        MAID
21               5296        MONA
22               6103         NXS
23               7567        POLY
24              13070         GRS
25              13072          SC
26              13280         FCT
27              15876         EMC
28              16713         DCR
29              17778         REP
..                ...         ...
115            675053         HPB
116            708404        AURA
117            714811       THETA
118            716522        IOST
119            716725         ZIL
120            729809         DDD
121            732161        MAN*
122            744987         ELA
123            757969         BIX
124            769546         DAI
125            770095        BTCP
126            771595          HT
127            777717        VULC
128            780891         TEN
129            800121         DIG
130            820902        DROP
131            836492        LOOM
132            844139        TUSD
133            847172        MITH
134            856139        CTXC
135            868276        HOT*
136            882302        NOAH
137            890645         HOT
138            918501         AOA
139            918566        XIN*
140            808414         ONT
141              5324         ETC
142              5018         VTC
143              1182         BTC
144            166503         EOS

[145 rows x 2 columns]

In [16]:
# test
crypto_name = 'BTC'
id_cryptocompare = 1182
df = retrieve_cryptocompare_data(crypto_name, id_cryptocompare)
df
#df2.to_sql(name='kpi_market_volumes', con=connection, if_exists = 'append', index=True)

,close_price,high_price,low_price,open_price,timestamp,volume_usd_from,volume_usd_to,id_cryptocompare
0,90.50,93.06,83.01,86.18,2013-03-29 00:00:00+00:00,83174.56,7.384104e+06,1182
1,92.19,94.98,87.00,90.50,2013-03-30 00:00:00+00:00,37284.61,3.420003e+06,1182
2,93.03,93.80,91.00,92.19,2013-03-31 00:00:00+00:00,21129.50,1.959051e+06,1182
3,104.00,106.00,92.24,93.03,2013-04-01 00:00:00+00:00,90563.17,9.060022e+06,1182
4,117.98,118.36,99.00,104.00,2013-04-02 00:00:00+00:00,81284.67,8.747147e+06,1182
5,135.00,147.00,110.00,117.98,2013-04-03 00:00:00+00:00,152713.73,1.953301e+07,1182
6,132.12,142.12,116.39,135.00,2013-04-04 00:00:00+00:00,88362.53,1.162402e+07,1182
7,142.32,144.94,130.24,132.12,2013-04-05 00:00:00+00:00,68588.73,9.549089e+06,1182
8,142.63,143.90,139.54,142.32,2013-04-06 00:00:00+00:00,18288.47,2.599937e+06,1182
9,162.30,164.90,142.63,142.63,2013-04-07 00:00:00+00:00,60954.72,9.402722e+06,1182
10,187.50,194.90,162.60,162.30,2013-04-08 00:00:00+00:00,114250.73,2.073289e+07,1182
11,230.00,240.11,186.50,187.50,2013-04-09 00:00:00+00:00,105842.25,2.272319e+07,1182
12,165.00,266.00,105.00,230.00,2013-04-10 00:00:00+00:00,190174.72,3.511812e+07,1182
13,124.90,188.70,110.20,165.00,2013-04-11 00:00:00+00:00,118747.72,1.886722e+07,1182
14,117.00,140.00,54.25,124.90,2013-04-12 00:00:00+00:00,556468.03,4.761919e+07,1182
15,93.00,130.00,85.50,117.00,2013-04-13 00:00:00+00:00,238347.58,2.627742e+07,1182
16,90.00,110.00,84.44,93.00,2013-04-14 00:00:00+00:00,166274.96,1.619702e+07,1182
17,82.39,102.00,71.51,90.00,2013-04-15 00:00:00+00:00,236673.01,2.060777e+07,1182
18,68.36,84.50,50.01,82.39,2013-04-16 00:00:00+00:00,572349.32,3.740157e+07,1182
19,93.07,98.78,63.30,68.36,2013-04-17 00:00:00+00:00,327630.05,2.793776e+07,1182
20,109.01,113.00,86.00,93.07,2013-04-18 00:00:00+00:00,172976.43,1.684541e+07,1182
21,118.48,136.43,105.54,109.01,2013-04-19 00:00:00+00:00,257166.23,3.071392e+07,1182
22,126.62,132.00,115.00,118.48,2013-04-20 00:00:00+00:00,74363.62,9.222871e+06,1182
23,119.20,130.50,110.00,126.62,2013-04-21 00:00:00+00:00,99132.19,1.204440e+07,1182
24,127.40,127.40,118.50,119.20,2013-04-22 00:00:00+00:00,59153.12,7.289977e+06,1182
25,143.48,144.02,124.97,127.40,2013-04-23 00:00:00+00:00,116144.90,1.563796e+07,1182
26,154.20,166.43,140.97,143.48,2013-04-24 00:00:00+00:00,225896.50,3.435155e+07,1182
27,141.71,162.00,120.09,154.20,2013-04-25 00:00:00+00:00,187652.82,2.684789e+07,1182
28,136.90,144.99,121.45,141.71,2013-04-26 00:00:00+00:00,129008.48,1.706132e+07,1182
29,128.00,139.88,122.71,136.90,2013-04-27 00:00:00+00:00,59881.87,7.855444e+06,1182
...,...,...,...,...,...,...,...,...
1971,6491.11,6506.69,6259.81,6270.09,2018-08-21 00:00:00+00:00,61753.86,3.967461e+08,1182
1972,6366.13,6890.79,6264.34,6491.09,2018-08-22 00:00:00+00:00,116096.61,7.640050e+08,1182
1973,6538.95,6575.28,6356.96,6366.14,2018-08-23 00:00:00+00:00,52740.30,3.408115e+08,1182
1974,6708.96,6736.83,6481.76,6539.13,2018-08-24 00:00:00+00:00,58037.12,3.824569e+08,1182
1975,6749.56,6808.89,6684.19,6708.94,2018-08-25 00:00:00+00:00,38189.09,2.582967e+08,1182
1976,6720.60,6793.17,6588.48,6749.71,2018-08-26 00:00:00+00:00,39682.91,2.658206e+08,1182
1977,6915.73,6944.21,6674.84,6720.60,2018-08-27 00:00:00+00:00,59984.28,4.057693e+08,1182
1978,7091.38,7136.71,6877.20,6915.92,2018-08-28 00:00:00+00:00,69448.01,4.877896e+08,1182
1979,7052.00,7137.47,6944.76,7091.38,2018-08-29 00:00:00+00:00,50361.95,3.561390e+08,1182
1980,6998.76,7072.64,6818.69,7051.61,2018-08-30 00:00:00+00:00,61266.88,4.254757e+08,1182
1981,7026.96,7096.73,6903.08,6998.76,2018-08-31 00:00:00+00:00,49774.38,3.491312e+08,1182
1982,7203.46,7272.03,7025.58,7026.96,2018-09-01 00:00:00+00:00,41873.76,3.003018e+08,1182
1983,7301.26,7384.38,7144.71,7203.46,2018-09-02 00:00:00+00:00,61424.38,4.474534e+08,1182
1984,7270.05,7350.58,7204.89,7301.25,2018-09-03 00:00:00+00:00,42451.23,3.093278e+08,1182
1985,7369.86,7417.65,7246.76,7270.05,2018-09-04 00:00:00+00:00,46681.90,3.437620e+08,1182
1986,6705.03,7401.43,6694.06,7369.89,2018-09-05 00:00:00+00:00,113370.51,7.978512e+08,1182
1987,6515.42,6727.19,6295.11,6705.06,2018-09-06 00:00:00+00:00,127586.04,8.233090e+08,1182
1988,6411.78,6549.39,6345.48,6515.42,2018-09-07 00:00:00+00:00,53170.79,3.444872e+08,1182
1989,6200.16,6480.57,6134.76,6413.12,2018-09-08 00:00:00+00:00,49719.12,3.173803e+08,1182
1990,6249.07,6451.25,6161.83,6200.23,2018-09-09 00:00:00+00:00,38701.00,2.444003e+08,1182
1991,6324.43,6371.42,6247.64,6249.07,2018-09-10 00:00:00+00:00,50695.88,3.204353e+08,1182
1992,6295.54,6415.51,6199.19,6324.43,2018-09-11 00:00:00+00:00,51401.22,3.245129e+08,1182
1993,6337.11,6357.89,6208.28,6295.54,2018-09-12 00:00:00+00:00,52814.83,3.325372e+08,1182
1994,6492.00,6534.89,6337.08,6337.08,2018-09-13 00:00:00+00:00,65684.53,4.250909e+08,1182
1995,6486.01,6591.59,6393.84,6492.17,2018-09-14 00:00:00+00:00,58029.07,3.779894e+08,1182
1996,6522.08,6573.19,6473.47,6485.39,2018-09-15 00:00:00+00:00,31894.67,2.083496e+08,1182
1997,6502.44,6525.05,6404.31,6522.68,2018-09-16 00:00:00+00:00,30897.54,2.005456e+08,1182
1998,6261.48,6538.82,6216.83,6502.44,2018-09-17 00:00:00+00:00,62738.57,3.996760e+08,1182
1999,6346.44,6393.39,6238.25,6261.33,2018-09-18 00:00:00+00:00,55076.95,3.484859e+08,1182
2000,6327.78,6372.34,6324.42,6346.44,2018-09-19 00:00:00+00:00,13365.43,8.506244e+07,1182