In [2]:
import pandas.io.sql as psql
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, date
from sqlalchemy import create_engine

# TODO : Replace with info from config file
connection = create_engine('postgresql://dbuser:algocryptos@localhost:5432/algocryptos')

# get data with query
squery = 'select id_cryptocompare, percent_change_1h from prices where abs(percent_change_1h) > 2 and crypto_rank < 100'
df = psql.read_sql_query(squery, connection)
df

# mandatory when different timezones in database (column not recognized as datetime)
#df['timestamp'] = pd.to_datetime(df.timestamp, utc=True)

# set index on column timestamp
#df.set_index('timestamp', 'id_cryptocompare', inplace = True)

,id_cryptocompare,symbol,crypto_name,crypto_rank,price_usd,price_btc,volume_usd_24h,market_cap_usd,percent_change_1h,percent_change_24h,percent_change_7d,last_updated,available_supply
0,186277,ZRX,0x,42,1.04670,1.173800e-04,1.283740e+07,5.493158e+08,2.85,9.85,37.83,2018-04-23 08:39:12+00:00,5.248073e+08
1,213532,GAS,Gas,67,28.88930,3.239670e-03,8.987030e+06,2.926017e+08,3.05,18.15,47.03,2018-04-23 08:39:11+00:00,1.012838e+07
2,218906,DCN,Dentacoin,60,0.00101,1.100000e-07,3.386500e+06,3.283878e+08,-3.28,9.74,184.42,2018-04-23 08:39:12+00:00,3.252266e+11
3,310497,KNC,Kyber Network,75,1.82289,2.044200e-04,1.361480e+07,2.445092e+08,2.31,12.96,36.14,2018-04-23 08:39:13+00:00,1.341327e+08
4,324068,ICX,ICON,21,3.58795,4.023600e-04,4.422440e+07,1.389367e+09,2.56,3.62,31.72,2018-04-23 08:39:15+00:00,3.872314e+08
5,318199,HSR,Hshare,59,8.25373,9.255800e-04,4.635430e+07,3.540616e+08,2.98,5.89,24.19,2018-04-23 08:39:12+00:00,4.289717e+07
6,372654,XIN,Mixin,76,583.60000,6.544540e-02,2.583710e+05,2.416343e+08,2.31,5.68,66.66,2018-04-23 08:39:18+00:00,4.140410e+05
7,202330,BCH,Bitcoin Cash,4,1381.71000,1.549460e-01,1.620920e+09,2.361228e+10,-2.56,18.90,81.08,2018-04-23 08:39:13+00:00,1.708918e+07
8,127356,MIOTA,IOTA,9,2.13149,2.390300e-04,9.816390e+07,5.924541e+09,2.42,4.84,35.13,2018-04-23 08:39:11+00:00,2.779530e+09

In [202]:
# dropna
df2 = df.replace(0, pd.np.nan).dropna(axis=0, thresh=2).fillna(0.0)

# group by crypto
df2 = df2.groupby('id_cryptocompare')

# rescale if values have been droped
df2 = df2.resample('1H').agg({'close_price': np.mean}).interpolate()
df3 = df2.groupby('id_cryptocompare')

In [204]:
# ---------------------------------------------------------------
# [1/h] Crypto Top 100 : Grosse variation de prix abs > 8% en 1h
# ---------------------------------------------------------------

# get last value for each crypto
dftoday = df3.last()

# today's date
date_after = datetime.utcnow()

# array of periods on which we want to calculate kpis
arr = [1]
for elt in arr:
    # +2 because :
    # at 2:05pm we get it for period from 1pm to 2pm and it's written for 1pm (.last())
    # we also want to get the period before that so 12am
    # meaning we need at 2:05pm to get for 11:05 (12:05 is after 12am)
    date_before = date_after - timedelta(hours=elt + 2) # TODO : CHANGE en +2
    
    # manipulate dataframe
    df_tmp = df2.reset_index()
    df_tmp.set_index('timestamp', inplace = True)
    df_tmp.sort_index(inplace=True)
    
    # truncate dataframe to get data on a specific period 
    df_tmp = df_tmp.truncate(before=date_before, after=date_after).groupby('id_cryptocompare').first()
    
     # rename column to avoid problem
    df_tmp.columns = ['col' + str(elt)]
    
    dftoday = dftoday.join(df_tmp)    
    dftoday['col' + str(elt)] = round(((dftoday['close_price'] - dftoday['col' + str(elt)]) / dftoday['col' + str(elt)]) * 100, 2)
    
# rename / drop columns
dftoday.columns = ['close_price', 'val1_double']
dftoday = dftoday.drop('close_price', 1)

# keep values only when condition is met 
dftoday = dftoday[abs(dftoday.val1_double) > 8]

# add infos
dftoday['id_alert_type'] = 1
dftoday

                  val1_double  id_alert_type
id_cryptocompare
30022                   -9.23              1
42433                  -11.45              1
770095                  -8.04              1

In [206]:
# insert data into database
dftoday.to_sql(name='alerts', con=connection, if_exists = 'append', index=True)