In [18]:
import pandas.io.sql as psql
import pandas as pd
from datetime import datetime, timedelta
from sqlalchemy import create_engine
import requests
import json

# get data via API
data = json.loads(requests.get('https://min-api.cryptocompare.com/data/histoday?fsym=ETH&tsym=USD&limit=2000&aggregate=1').text)
df = pd.DataFrame(data["Data"])

# delete useless columns
df.drop(['close', 'open', 'volumefrom', 'volumeto'], axis=1, inplace = True)

#convert todatetime
df['time'] = pd.to_datetime(df['time'], unit='s')

# set index on column timestamp
df.set_index('time', inplace = True)

#drop rows with 0 only
columns = ['low', 'high']
df = df.replace(0, pd.np.nan).dropna(axis=0, how='any', subset=columns).fillna(0).astype(float)

In [19]:
# df to insert into db
df_final = pd.DataFrame()
df_final['IdCryptoCompare'] = [0]

# df columns
columns_arr = ['price_low_15d', 'date_low_15d', 'price_high_15d', 'date_high_15d',
'price_low_1m', 'date_low_1m', 'price_high_1m', 'date_high_1m',
'price_low_3m', 'date_low_3m', 'price_high_3m', 'date_high_3m',
'price_low_6m', 'date_low_6m', 'price_high_6m', 'date_high_6m',
'price_low_1y', 'date_low_1y', 'price_high_1y', 'date_high_1y',
'price_low_5y', 'date_low_5y', 'price_high_5y', 'date_high_5y']

In [20]:
# 15d/1m/3m/6m/12m/all
arr = [15, 30, 3*30, 6*30, 12*30, 2000]
date_after = datetime.now()
i = 0
for elt in arr:
    date_before = date_after - timedelta(days=elt)
    df_tmp = df.truncate(before=date_before, after=date_after)
    df_final[columns_arr[i]] = [df_tmp.low.min()]
    df_final[columns_arr[i + 1]] = [df_tmp.low.idxmin()]
    df_final[columns_arr[i + 2]] = [df_tmp.high.max()]
    df_final[columns_arr[i + 3]] = [df_tmp.high.idxmax()]
    i += 4

,IdCryptoCompare,price_low_15d,date_low_15d,price_high_15d,date_high_15d,price_low_1m,date_low_1m,price_high_1m,date_high_1m,price_low_3m,...,price_high_6m,date_high_6m,price_low_1y,date_low_1y,price_high_1y,date_high_1y,price_low_5y,date_low_5y,price_high_5y,date_high_5y
0,0,787.97,2018-02-23,981.48,2018-02-18,564.19,2018-02-06,1155.58,2018-02-01,404.16,...,1422.86,2018-01-13,15.94,2017-03-09,1422.86,2018-01-13,0.15,2015-08-08,1422.86,2018-01-13

In [23]:
connection = create_engine('postgresql://dbuser:algocryptos@localhost:5432/algocryptos')
df_final.to_sql(name='lower_higher_prices', con=connection, if_exists = 'append', index=False)