In [1]:
import pandas.io.sql as psql
import pandas as pd
import numpy as np
from datetime import datetime, timedelta, date
from sqlalchemy import create_engine
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

# TODO : Replace with info from config file
connection = create_engine('postgresql://dbuser:algocryptos@localhost:5432/algocryptos')

# get data with query
squery =  'SELECT id_cryptocompare, symbol , coin_name \n'
squery += 'FROM coins'

df_coins = psql.read_sql_query(squery, connection)

df_coins

     id_cryptocompare symbol                coin_name
0                5038    XMR                   Monero
1                1183    NXT                      Nxt
2                5324    ETC         Ethereum Classic
3                4432   DOGE                 Dogecoin
4               24854    ZEC                    ZCash
5                5039    BTS                Bitshares
6                4430    DGB                 DigiByte
7                4400   BTCD              BitcoinDark
8                4440   EMC2              Einsteinium
9                4524    FTC              FeatherCoin
10               4571    NAV                  NavCoin
11               4592    RDD                 ReddCoin
12               4614    XLM                  Stellar
13               4618    SYS                  SysCoin
14               5280    BCN                 ByteCoin
15               5285    XEM                      NEM
16               5293   MAID            MaidSafe Coin
17               5296   MONA                 MonaCoin
18               5300    BAY                   BitBay
19               6098    RDN                 RadonPay
20               6103    NXS                    Nexus
21               7567   POLY                  PolyBit
22               8692    CRE                  Credits
23              13070    GRS             Groestlcoin
24              13280    FCT                 Factoids
25              16713    DCR                   Decred
26              17778    REP                    Augur
27              18907    DGD                Digix DAO
28              20157   GAME              Gamecredits
29              20333  STEEM                    Steem
..                ...    ...                      ...
196            793845    POA              Poa Network
197            757969    BIX                BiboxCoin
198            466339    NGC                 NagaCoin
199            799597    CS*                  Credits
200            794350    RVN                Ravencoin
201             19745    LSK                     Lisk
202            347235    BTG             Bitcoin Gold
203             27368    NEO                      NEO
204             35813     CS              CryptoSpots
205             33022    GNT      Golem Network Token
206              1182    BTC                  Bitcoin
207            808414    ONT                 Ontology
208              4428    CSC               CasinoCoin
209            394056    ABT  Advanced Browsing Token
210              5031    XRP                   Ripple
211              3808    LTC                 Litecoin
212             13072     SC                  Siacoin
213            116180    ZEN                  ZenCash
214            815399   AUTO                     Cube
215              5018    VTC                 Vertcoin
216            321992    ADA                  Cardano
217             15876    EMC                 Emercoin
218            136269    SKY                  Skycoin
219             22327    BNT     Bancor Network Token
220            820902   DROP                   Dropil
221            836492   LOOM             Loom Network
222              3807   DASH              DigitalCash
223            731516   NPXS                  Pundi X
224            166503    EOS                      EOS
225            172091    XRB                     Nano

[226 rows x 3 columns]

In [122]:
standard = 'bitcoin'

df_to_db = None
count = 0

for coin_index, coin_row in df_coins.iterrows():
    #TODO lower case everything + get variable from BDD
    coin_id = coin_row['id_cryptocompare']   # Exemple : 7605
    project = coin_row['coin_name'].lower()  #Exemple : ethereum
    symbol = coin_row['symbol'].lower()    # Exemple : eth
    
    # Compare symbol and project name
    pytrends.build_payload([project, symbol], cat=0, timeframe='today 1-m', geo='', gprop='')

    # Keep the most significant
    df_extract_trend = pytrends.interest_over_time()
    max_project = df_extract_trend[project].max()
    max_symbol = df_extract_trend[symbol].max()
    
    significant = ''
    
    #If the two results are at 100, take the oldest
    if max_project == max_symbol:
        date_project = df_extract_trend[project].idxmax()
        date_symbol = df_extract_trend[symbol].idxmax()
        significant = project if date_project > date_symbol else symbol
    else:
        significant = project if max_project > max_symbol else symbol
        
    # Result for stand alone
    df_result_coin = df_extract_trend[[significant]]
    df_result_coin.columns = ['value_standalone']
    
    # Result vs "BITCOIN"
    pytrends.build_payload([significant, standard], cat=0, timeframe='today 1-m', geo='', gprop='')
    df_google_trend_compared = pytrends.interest_over_time()
    df_google_trend_compared = df_google_trend_compared[[significant]]
    df_google_trend_compared.columns = ['value_compared_to_standard']
    
    df_result_coin = df_result_coin.join(df_google_trend_compared)
    df_result_coin['id_cryptocompare'] = coin_id
    
    df_result_coin.reset_index(inplace=True)
    df_result_coin.rename(columns={'date':'timestamp'}, inplace=True)

    # append aggregated result coin to one specific dataframe
    if df_to_db is None: 
        df_to_db = df_result_coin
    else:
        #df_to_db = df_to_db.append(df_result_coin, ignore_index=True)
        df_to_db = pd.concat([df_to_db,df_result_coin])
    print(count)
    count += 1
    if(count > 30):
        break

df_to_db

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

    timestamp  value_standalone  value_compared_to_standard  IdCryptoCompare
0  2018-02-10                33                           6             3808
1  2018-02-11                27                           5             3808
2  2018-02-12                29                           5             3808
3  2018-02-13                29                           5             3808
4  2018-02-14               100                          17             3808
5  2018-02-15                85                          15             3808
6  2018-02-16                53                           9             3808
7  2018-02-17                56                          10             3808
8  2018-02-18                68                          12             3808
9  2018-02-19                65                          11             3808
10 2018-02-20                88                          15             3808
11 2018-02-21                45                           8             3808
12 2018-02-22                37                           6             3808
13 2018-02-23                35                           6             3808
14 2018-02-24                27                           5             3808
15 2018-02-25                33                           6             3808
16 2018-02-26                43                           7             3808
17 2018-02-27                34                           6             3808
18 2018-02-28                27                           5             3808
19 2018-03-01                25                           4             3808
20 2018-03-02                26                           4             3808
21 2018-03-03                23                           4             3808
22 2018-03-04                21                           4             3808
23 2018-03-05                20                           3             3808
24 2018-03-06                24                           4             3808
25 2018-03-07                23                           4             3808
26 2018-03-08                21                           4             3808
0  2018-02-10                77                           2             5038
1  2018-02-11                75                           2             5038
2  2018-02-12                79                           2             5038
..        ...               ...                         ...              ...
24 2018-03-06                98                          17            18244
25 2018-03-07                97                          17            18244
26 2018-03-08                95                          17            18244
0  2018-02-10                 9                           0            18907
1  2018-02-11                11                           0            18907
2  2018-02-12                16                           0            18907
3  2018-02-13                 7                           0            18907
4  2018-02-14                 8                           0            18907
5  2018-02-15                 7                           0            18907
6  2018-02-16                 4                           0            18907
7  2018-02-17                 5                           0            18907
8  2018-02-18                29                           0            18907
9  2018-02-19                15                           0            18907
10 2018-02-20                10                           0            18907
11 2018-02-21                30                           0            18907
12 2018-02-22                27                           0            18907
13 2018-02-23                17                           0            18907
14 2018-02-24                14                           0            18907
15 2018-02-25                10                           0            18907
16 2018-02-26                25                           0            18907
17 2018-02-27                26                           0            18907
18 2018-02-28                66                           1            18907
19 2018-03-01                32                           0            18907
20 2018-03-02                24                           0            18907
21 2018-03-03                14                           0            18907
22 2018-03-04                15                           0            18907
23 2018-03-05                12                           0            18907
24 2018-03-06                16                           0            18907
25 2018-03-07               100                           1            18907
26 2018-03-08                27                           0            18907

[837 rows x 4 columns]

In [123]:
# empty table
connection.execute('delete from social_google_trend')

df_to_db.to_sql(name='social_google_trend', con=connection, if_exists = 'append', index=False)

In [ ]:
#TEEEEEEEEEEEEST
    
# Compare symbol and project name
pytrends.build_payload(['nano'], cat=0, timeframe='today 1-m', geo='', gprop='')

# Keep the most significant
df_extract_trend = pytrends.interest_over_time()
df_extract_trend